{% extends 'base.html' %}

{% block title %}
    Whoami
{% endblock %}

{% block content %}
  <div class="container py-4">

    <div class="p-2 mb-4 bg-light rounded-3">
      <div class="container-fluid">
        <h1 class="display-10 fw-bold">Page Whoami</h1>
        <p class="col-md-12 fs-8">User-Agent:&nbsp;{{user_agent}}</p>
        <p class="col-md-12 fs-8">IP-Address:&nbsp;{{ip_address}}</p>
        <p class="col-md-12 fs-8">Server Time:&nbsp;{{server_time}}</p>
      </div>
    </div>

  </div>
{% endblock %}